* {
    box-sizing: border-box;
}

html {
    font-size: calc(60% + 0.8vmin);
        font-family: ibm plex sans, sans-serif;
    scroll-behavior: smooth;
}

body {
   margin: 0;
    padding: 0;
}

@font-face {
    font-family: prompt;
    src: url();
}

.navbar {
    display: flex;
    position: fixed; 
    top: 0; 
    left: 0;
    right: 0;
    width: 100%;
    padding: 0.75rem 1rem;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    background-color: #fafdfead; 
    color: rgb(0, 0, 0);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    backdrop-filter: blur(32px); 
}


.navbar-links {
    height: 100%;
}

.navbar-links ul {
 display: flex;
    gap: 8px;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.navbar-links li {
    list-style: none;
         transition:  0.2s linear
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 0.5rem;
    
}

.navbar-links li:hover {
    background-color: #ececece5;
    border-radius: 8px;
}

.navbar-links li a:hover {
    color: #24d600;
}

.toggle-button {
   
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 15px;
    margin-top: 4px;
} 

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: rgb(31, 31, 31);
    border-radius: 4px;
}

@media (max-width: 700px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

/*Content*/

.section_1,
.section_2 {
    flex-shrink: 0;
}
.section_1 {
    background-image:
      linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(214, 249, 255, 0.178) 30%, #f5f7fd7e 70%, #f5f7fd 100%),
      url('/my-project/media/FB_IMG_1757297413793.jpg');
background-position: center;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section_2 {
    background-color: #5eb7ff;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section_3 {
    background-color: rgb(228, 228, 228);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
} 