* {
    box-sizing: border-box;
}
html{
      font-size: calc(60% + 0.8vmin);
      scroll-behavior: smooth;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Mono', monospace;
}
/*navbar*/
.navbar {
    
    display: flex;
    position: fixed;
    top: 0;
    justify-content: center; 
    align-items: center;
    background-color: #e4e4e483;
    padding: 0.5rem 0; 
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    backdrop-filter: blur(16px);
    border-bottom: #4f4f4f36 1.5px solid;
    
      width: 100%;
    margin: 0 ;
}

.nav-name {
font-size: 1.1rem;
margin-right: clamp(1rem, 5vw + 1vh, 6rem);

}
.nav-col-box {
    width: 39px;
    height: 15px;
    margin-right: 10px;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: #0b0b0b;
    padding: 0.6rem;
}

.navbar-links li:hover {
    background-color: #ececec76;
    border-radius: 8px;
}

.toggle-button {
    position: absolute;
    top: .7rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #0b0b0b;
    border-radius: 16px;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-col-box {
        margin-top: 8px;
        margin-left: 0.5rem;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
        top: 16px;
    }

    .navbar-links.active {
        display: flex;
    }
}

/*elements asset*/
.frosted {
    background-color: #92929242;
    backdrop-filter: blur(32px);
    border-radius: 32px;
    border: 1px solid #dddddd;
}

/*content*/
.content {
    flex-shrink: 0;
}
/*
.margin-add {
        margin-bottom: 0.5rem;
}
*/
.s1 {
    background: linear-gradient(to bottom, #28282800, #28282800, #28282800, #0b0b0b),
      url('media/bg1.png');
background-position: center;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    height: 100dvh;
    width: 100%;
    display: flex;
     flex-direction: column; /* changed: stack heading + icon vertically */
    align-items: center;  
    justify-content: center;
    margin-bottom: -1rem;
}

.s1 h1 {
    color: white;
    font-size: clamp(2rem, 3rem + 1vw, 4rem);
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    margin-top: clamp(8rem, 12rem + 1vw, 24rem);
    text-align: center;
}

#program {
    background: linear-gradient(to right,#f4f4f4, #F78104);
    color: transparent;
    background-clip: text;
    font-weight: normal;
    text-align: center;
    margin-top: clamp(-4rem, -3rem + 1vw, -2rem);
    text-shadow: 1px 1px 4px #F78104b3;
       font-size: clamp(1rem, 1.5rem + 0.5vw, 2rem);
}

#pkw-txt {
   color: #9BA7FF;
   font-size: clamp(1rem, 1.5rem + 0.5vw, 2rem);
   font-weight: normal;
   margin-top: -1.5rem;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

.s2 {
    height: 100dvh;
    width: 100%;
    background: linear-gradient(#2C3A6F, #6474A5);
}

.s2 h1 {
    text-align: center;
    color: white;
    padding-top: 8.5vh;
}

.pro-con {
      max-height: clamp(20rem, 60vh, 40rem);
    max-width: clamp(20rem, 80vw, 90rem);
    margin: 0 auto;
}
.container {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start;
    flex-direction: row;
}

.container img {

    width: clamp(4rem, 8rem + 5vw, 20rem);
    border-radius: 16px;
     box-shadow: 1px 1px 12px #00000044;
     border: 1px solid #ffffff;
     margin: 3rem;
     margin-top: -2rem;
     margin-right: clamp(1rem, 2rem + 1vw, 3rem);
}

.container p {
    text-indent: calc(2rem + 1vw);
    color: white;
    font-size: clamp(0.5rem, 0.65rem + 0.5vw, 1.5rem);
    font-weight: 350;
    line-height: clamp(1, 1.2);
    margin-left: clamp(1rem, 2rem + 1vw, 6rem);
    margin-top: clamp(1rem, 2rem, 2.5rem);
    text-align: left;
    margin-top: -1rem;

}

@media (max-width: 700px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .container img, .container p {
        margin: 1rem;
    }

    .container p {
        text-indent: 0;
        text-align: center;
        margin: 0 1rem 0 1rem ;
    }
}

.pro-con h5 {
    color: white;
    font-size: clamp(0.5rem, 0.5rem + 0.5vw, 1.5rem);
    text-align: center;
    margin-top: clamp(.2rem, .5rem, 1rem);
    font-weight: 600;
}

.s3 {
    height: 100dvh;
    width: 100%;
    background: linear-gradient(#6474A5, #A5B3C9);
}

.s4 {
    height: 100dvh;
    width: 100%;
    background: linear-gradient(#A5B3C9, #c9d0da);
}

.s5 {
    height: 100dvh;
    width: 100%;
    background: linear-gradient(#c9d0da, #e4e4e4);
}

.footer {
    height: 60px;
    width: 100%;
    background-color: #282828;
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: center; 
    align-items: center;
    color: white;
}