* {
    box-sizing: border-box;
}
html{
      font-size: calc(60% + 0.8vmin);
      scroll-behavior: smooth;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Mono', monospace;
}

.navbar {
    display: flex;
    position: fixed;
    top: 0;
    position: fixed;
    top: 0;
    z-index: 1000;
    justify-content: center; 
    justify-content: center; 
    align-items: center;
    background-color: #e4e4e4b6;
    padding: .5rem 0; 
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    backdrop-filter: blur(16px);
    border-bottom: #a0a0a036 3px solid;

    width: 100%;
    left: 0;
} 

.nav-container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; 
    padding: 0 .25rem; 
}

.nav-name {
    font-size: 1.2rem;
    margin: .5rem;
}
.nav-col-box {
    width: 39px;
    height: 15px;
    margin-right: 10px;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: #0b0b0b;
    padding: 0.6rem;
}

.navbar-links li:hover {
    background-color: #ececec76;
    border-radius: 8px;
}

.toggle-button {
    position: absolute;
    top: .5rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #0b0b0b;
    border-radius: 16px;
}

@media (max-width: 850px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

/*content*/
.content {
    flex-shrink: 0;
}
.s1 {
    background-image:
      url('media/bg3.png');
background-position: center;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    height: 100dvh;
    width: 100%;
    display: flex;
     flex-direction: column; /* changed: stack heading + icon vertically */
    align-items: center;  
    justify-content: center;
}

.s2 {
    height: 100dvh;
    width: 100%;
    background-color: #6474a5;
    margin-top: 0.5rem;

}


.s3 {
    height: 100dvh;
    width: 100%;
    background-color: #a5b3c9;
    margin-top: 0.5rem;
}