
html {
      font-size: calc(60% + 0.8vmin);
      scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Mono', monospace;
    color: #555;
}

/*navbar*/
.navbar {
    display: flex;
    position: fixed;
    top: 0;
    justify-content: center; 
    align-items: center;
    background-color: #e3e3e3ce;
    backdrop-filter: blur(100px);
    padding: 0.1rem 0; 
      width: 100%;
    margin: 0 ;
}

.navbar-name {
font-size: 1.1rem;
margin-right: clamp(1rem, 5vw + 1vh, 6rem);
color: #282828;
}

.nav-col-box {
    width: 39px;
    height: 15px;
    margin-right: 10px;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: #282828;
    padding: 0.6rem;
}

.navbar-links li:hover {
    background-color: #ececec76;
    border-radius: 8px;
}

.toggle-button {
    position: absolute;
    top: .7rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 16px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #0b0b0b;
    border-radius: 16px;
}

@media (max-width: 750px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-col-box {
        margin-top: 8px;
        margin-left: 0.5rem;
    }

    .navbar-name {
        margin-bottom: 0.5rem;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
        top: 16px;
    }

    .navbar-links.active {
        display: flex;
    }

    .footer {
        text-align: center;
    }
}

/*content*/
.page-1 {
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    background: linear-gradient(to bottom, hsla(24, 23%, 77%, 0.5), hsla(24, 23%, 77%, 0.5)), url('media/bg1.png');
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
}

.page-1 p {
    line-height: 1;
    font-size: clamp(1rem, 1vw, 2rem);
}

#name-head {
    font-size: clamp(3rem, 4vw, 4rem);
    font-weight: 500;
    text-align: center;
    margin-bottom: -0.5vh;
    color: #e4e4e4 ;
}
#mip {
    font-size: 2rem;
    text-align: center;
    color:#282828 ;
}
#pkw-txt {
     font-size: 2rem;
    text-align: center;
    color: #3F5F76 ;
}

.page-2 {
    height: clamp(40rem, 40rem, 60vh);
    width: 100%;
    background-color: #7E9EB2;
    position: relative;
    top: .2rem;
}

.page-2 h2 {
    text-align: center;
    padding-top: 4rem;
    color: #ffffff;
    padding-bottom: 1rem;
}

.page-2 p {
    max-width: 650px;
    margin: 0 auto;
    text-align: left;
    text-indent: 2em;
    color: #ffffff;
    padding-left: 1em;
}


.image-container {
    max-width: 650px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.image-container img {
max-width: 25%;  
  height: auto;
  aspect-ratio: 1 / 1; 
  object-fit: cover;   
  border: 4px solid #e4e4e4;
  border-radius: 16px;
  flex: 1 1 200px;
}

#nav-btn-page-2 {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    transform: scale(1.5);
    backdrop-filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
    text-decoration: none;
}

.page-3 {
    height: 100dvh;
    width: 100%;
    background-color: #f5f5f5;
}
/*footer*/  
.footer {
    height: 3em;
    width: 100%;
    background-color: #282828;
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: center; 
    align-items: center;
    color: white;
}