*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
      font-size: calc(60% + 0.8vmin);
      scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Mono', monospace;
    color: #555;
    background-color: #272727;
}


/*navbar*/
.navbar {
    display: flex;
    position: fixed;
    top: 0;
    justify-content: center; 
    align-items: center;
    background-color: #191919;
    backdrop-filter: blur(32px);
    padding: 0.1rem 0; 
      width: 100%;
    margin: 0 ;
}

.navbar-name {
font-size: 1.1rem;
margin-right: clamp(1rem, 5vw + 1vh, 6rem);
color: #f9f9f9;
}

.nav-col-box {
    width: 39px;
    height: 15px;
    margin-right: 10px;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
    transition: linear 0.15s;
    margin: 0 0.3rem;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: #f9f9f9;
    padding: 0.6rem 0.3rem 0.6rem 0.3rem;
}


.navbar-links li:hover {
    background-color: #4fbcff96;
    border-radius: 6px;
    border-color: #2564eb;
}

.toggle-button {
    position: absolute;
    top: .7rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 16px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #fdfdfd;
    border-radius: 16px;
}

@media (max-width: 750px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-col-box {
        margin-top: 8px;
        margin-left: 0.5rem;
    }

    .navbar-name {
        margin-bottom: 0.5rem;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
        top: 16px;
    }

    .navbar-links.active {
        display: flex;
    }

    .footer {
        text-align: center;
    }
}

/*content*/
.page-1 {
    height: 85dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    background: linear-gradient(to bottom, #0000009d, #0000009d), url('media/cd.webp');
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
}

.page-1 p {
    font-size: clamp(1.5rem, 1vw, 2rem);
        font-weight:300;
}

#name-head {
    font-size: clamp(3rem, 4vw, 4rem);
    font-weight: 500;
    text-align: center;
    /*margin-bottom: -0.5vh;*/
    color: #ffffff ;
}
#mip {

    text-align: center;
    color: #f5f5f5; ;
}
#pkw {
    text-align: center;
    color: #f5f5f5 ;
}

#mip-highlight {
    color: #07d100 ; 
}

#pkw-highlight {
    color: #6b9aff ;
}

.page-2 {
    height: clamp(35rem, 25rem, 40vh);
    width: 100%;
    background:linear-gradient(to bottom, #070707, #191919);
    position: relative;
    top: .3rem;
}

.page-2 h2 {
    text-align: center;
    padding-top: 4rem;
    color: #fdfdfd;
    padding-bottom: 1rem;
    font-size: 2em;
}

.page-2 p {
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
    text-indent: 2em;
    color: #ffffff;
    padding-left: 1em;
    padding-right: 1em;
}


.image-container {
    max-width: 650px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.image-container img {
max-width: 25%;  
  height: auto;
  aspect-ratio: 1 / 1; 
  object-fit: cover;   
  border: 4px solid #fff;
  border-radius: 16px;
  flex: 1 1 200px;
}

.page-3 {
    height: clamp(25rem, 15dvh, 25rem );
    width: 100%;
    background: linear-gradient(to bottom, #191919, #222222);
    text-align: center;
}

.page-3 ul {
    margin-top: 1rem;
     flex-wrap: wrap;
     display: flex;
     justify-content: center;
     gap: 1rem;
     text-decoration: none;
    padding-right: 0.35rem;
    padding-left: 0.35rem;
    

}

.page-3 h2 {
    font-size: 2em;
    padding-bottom: 1rem;
    padding-top: 2rem;
}

#skills {
    color: #008083;
}

#interests {
    color: #F78104;
}

#ccskills p {
    padding: .5em;
    background-color: #B4E5FF;
    border: 2px solid #00D0FF;
    border-radius: 8px;
    color: #1352ff ;
    max-width: 900px;
    
}

#ccinterests p {
    padding: .5em;
    background-color: #95ff87;
    border: 2px solid #33ca00;
    border-radius: 8px;
    color: #23a502 ;
    max-width: 900px;
}

.page-4 {
    height: 10rem;
    width: 100%;
}

/*footer*/  
.footer {
    height: 3em;
    width: 100%;
    background-color: #282828;
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: center; 
    align-items: center;
    color: white;
}

.footer span {
    color: #8587ff;
    margin-left: .7em;
    
}